/* purgecss start ignore */
@tailwind base;
@tailwind components;

.blog h1 {
  @apply text-blue-700 text-4xl text-center;
}
.blog h2 {
  @apply text-blue-700 text-2xl inline-block mt-10 mb-6 border-b-2 border-blue-700;
}

.blog p {
  @apply text-lg tracking-wide leading-relaxed mt-6 font-normal;
}

.blog a {
  @apply border-b-2 border-blue-400 transition transition-all duration-200;
}

.blog a:hover {
  @apply bg-blue-200;
}

.blog ul {
  @apply py-3 ml-10 text-lg tracking-wide;
}
.blog li {
  @apply list-disc;
}

.blog .date {
  @apply text-gray-600 text-sm italic mb-16 mt-1 text-center;
}

.blog img {
  @apply rounded-sm;
}

/* purgecss end ignore */
@tailwind utilities;
